@mixin image-icon{
    width: 40px;
    height: 32px;
    object-fit: cover;
    @media only screen and (min-width: 767px) {
        width: 80px;
        height: 64px;
    }
}

@mixin btn-custom{
    border-radius: 20px;
    border: none;
    color: $secondary-color;
    font-size: map-get($paragraph-size, small);
    @media only screen and (min-width: 767px) {
        font-size: map-get($paragraph-size, medium);
    }

    @media only screen and (min-width: 991px){
        font-size: map-get($paragraph-size, large);
    }
}
.banner{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 0px;
    gap: 50px;
    @media only screen and (min-width: 991px) {
        flex-direction: row;
    }

    &__aside1{
        max-width: 100%;
        @media only screen and (min-width: 991px) {
            max-width: 50%;
        }

        &__p1{
            color: $primary-color;
        }

        &__p2{
            color: $secondary-color;
            padding: 20px 0px;
        }

        &__btn1{
            background-color: $primary-color;
            @include btn-custom
        }
        &__btn2{
            background-color: #C4C4C41A;
            margin-left: 5%;
            // border-color: $primary-color;
            @include btn-custom;
            border: 1px solid $primary-color;
        }
        
    }

    &__aside2{
        display: flex;
        flex-direction: column;
   
        &__fig{
            display: flex;
            margin: 0px 20px;
            height: 274px;
            border-radius: 43px;
            background-color: $primary-color;
            object-fit: cover;
            display: flex;
            justify-content: center;
            min-width: 256px;
            position: relative;
            @media only screen and (min-width: 767px) {
                height: 532px;
                margin: 0px 5px;
                padding: 0 15px;
            }
            


            &__main1{
                width: 40px;
                object-fit: cover;
            }

            

            &__img1{
                @include image-icon;
                background-color: $standard-white-color;
                border-radius: 20px;
                position: absolute;
                top: 50%;
                left: -10px;
                @media only screen and (min-width: 767px) {
                    top: 50%;
                    left: -30px;
                }
            }
                
            &__img2{
                @include image-icon;
                background-color: $standard-white-color;
                border-radius: 20px;
                position: absolute;
                right: -20px;
                top: 50%;
                @media only screen and (min-width: 767px) {
                    top: 50%;
                    right: -40px;
                }
            }
        } 
        
        &__div{
            display: flex;
            width: 239px;
            padding: 10px;
            background-color: $bg-full-transparent;
            position: relative;
            bottom: 40px;
            left: -10px;
            border-radius: 10px;
            @media only screen and (min-width: 767px) {
                width: 374px;
                left: -30px;
            }

            &__img{
                width: 38px;
                height: 38px;
                border-radius: 10px;
                align-items: center;
                justify-content: center;
                object-fit: cover;
                @media only screen and (min-width: 767px) {
                    width: 60px;
                    height: 60px;
                }
            }
            
            
        }
    }

    &__div{
        display: flex;
        flex-direction: column;
    }



}
.info{
    margin-left: 20px;
    &__p{
        color: $standard-white-color;
    }
}