h1{
    font-size: map-get($title-size, small);
    color: $standard-white-color;
    padding: 20px 0px;

    @media only screen and (min-width: 767px) {
        font-size: map-get($title-size, medium);
    }
    @media only screen and (min-width: 991px){
        font-size: map-get($title-size, large);
    }
}

p{
    font-size: map-get($paragraph-size, small );
    color: $primary-color;

    @media only screen and (min-width: 767px) {
        font-size: map-get($paragraph-size, medium);
    }

    @media only screen and (min-width: 991px){
        font-size: map-get($paragraph-size, large);
    }

}

input{
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 15px;

    @media only screen and (min-width: 767px) {
        font-size: 20px;
        
    }

    @media only screen and (min-width: 991px) {
        font-size: 24px; 
    }
}
button{
    padding: 15px 20px;
    border-radius: 20px;
    font-size: 14px;
    @media only screen and (min-width: 767px){
        font-size: 20px;
    }
    @media only screen and (min-width: 991px){
        font-size: 24px;
    }
}


a{
    text-decoration: none;
    color: $secondary-color;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
    &:hover{
        color: #fff;
    }

}

li{
    list-style-type: none;
}


