.header {
    background: $title-bg-color;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__nav {
        display: none;

        @media only screen and (min-width: 767px) {
            display: none;
            justify-content: space-between;
        }

        @media only screen and (min-width: 991px) {
            display: flex;
            justify-content: space-between;
        }

        &__links {
            display: flex;
            gap: 25px;
        }
    }
    &__btn{
        background-color: $bg-semi-transparent;
        color: $primary-color;
        border-radius: 20px;
        font-weight: 700;
        border: none;
        font-size: 18px; 
        
        display: none;
        @media only screen and (min-width: 991px) {
            display: flex;
        }
    }

    &__hr{
        width: 55%;
        border: 2px solid $primary-color;
    }

    &__menu{
        @media only screen and (min-width: 991px) {
            display: none;
        }
    }
}