.section4 {
    display: flex;
    padding: 20px 0px;
    flex-direction: column;
    @media only screen and (min-width: 991px) {
      position: relative;
    }

    &__div1{
      @media only screen and (min-width: 991px) {
        width: 50%;
      }

      &__title{
        color: $standard-black;
      }
    }

    &__div2{
      display: flex;
      justify-content: center;
      padding-top: 60px;
      @media only screen and (min-width: 767px) {
          justify-content: start;
      }
      @media only screen and (min-width: 991px) {
          position: absolute;
          right: 10px;
      }

      &__fig{
        position: relative;
        overflow: visible;
        background-color: $title-bg-color;
        border-radius: 20px;
        
        

        &__img{
          width: 100%;
          max-height: 480px;
          border-radius: 20px;
        }

        &__small-img{
          width: 100px;
          border-radius: 20px;
          position: absolute;
          left: -50px;
          top: -20px;
        }
      }

    }

    &__form{
      display: flex;
      flex-direction: column;
      padding: 10px;
      gap: 20px;
      @media only screen and (min-width: 991px) {
        width: 50%;
      }
        &__p{
          color: $standard-black;
          
        }

        &__input{
          background-color: $bg-semi-transparent;
        }
        &__btn{
          background-color: $primary-color;
          border: none;
        }

        &__label{
          font-size: 24px;
        }

        &__div{
          display: flex;
          flex-direction: column;
          gap: 10px;
          @media only screen and (min-width: 767px){
            flex-direction: row;
          }
          &__input{
            width: 100%;
            background-color: $bg-semi-transparent;
          }
          &__btn{
            background-color: $primary-color;
            border: none;
          }

        
      }
    }

    &__status{
      display: flex;
      gap: 10px;
      &__a{
        font-size: 20px;
      }
      &__p{
        color: $standard-black;
      }
    }
  }
  