.section3{
    width: 100%;
    display: flex;
    justify-content: center;
    &__div{
        display: flex;
        flex-direction: column;
        @media only screen and (min-width: 991px){
            flex-direction: row;
            justify-content: space-between;
        }

        &__title{
            
            @media only screen and (min-width: 991px){
                width: 50%;
            }
        }

        &__p{
            color: $secondary-color;
            font-size: 14px;
            @media only screen and (min-width: 767px){
                font-size: 19px;
            }
            @media only screen and (min-width: 991px){
                padding: 20px 0px 0px 20%;
            }
        }
    }

    &__cards{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px 0px;
        
        @media only screen and (min-width: 991px){
            flex-direction: row;
            justify-content: space-between;
            gap: 30px;
        }

        &__main{
            padding: 20px;
            background: $bg-semi-transparent;
            border-radius: 49.896px 149.688px 49.896px 49.896px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            min-width: 276;
            @media only screen and (min-width: 767px){
                min-width: 448px;
                max-width: 498px;
            }
            @media only screen and (min-width: 991px){
                width: 450px;
                height: 498px;
                gap: 20px;
            }

            &__fig{
                background-color: $bg-semi-transparent;
                padding: 20px;
                border-radius: 20px;
                align-items: start;
                display: flex;
                justify-content: center;
                @media only screen and (min-width: 991px){
                    
                    width: 100px;
                }

                &__img{
                    width: 70px;
                    height: 70px;
                }
            }

            &__link{
                display: flex;
                justify-content: center;
                align-items: center;
                
            }
            &__h{
                color: $primary-color;
            }
    
        }

        

        &__div{
            display: flex;
            flex-direction: column;
            background-color: transparent;
            width: max-content;
            gap: 20px;
            flex-wrap: wrap;
            

            @media only screen and (min-width: 767px){
                flex-direction: row;
                justify-content: space-between;
            }
            @media only screen and (min-width: 991px){
                justify-content: space-between;
                align-items: end;
            }

            &__card2{
                padding: 20px;
                border: 2px solid;
                border-color: $secondary-color;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
            

                @media only screen and (min-width: 767px){
                    min-width: 400px;
                }
                @media only screen and (min-width: 991px){
                    
                }

                &__img{
                    padding: 20px solid;
                    background-color: $bg-semi-transparent;
                }
            }
        }

        
    }
}
