.section6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 250px;

    &__div1{
        &__h{
            color: $standard-black;
        }
        &__p{
            color: $standard-black;
        }
    }
    

    &__div2{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 30px;
        padding: 20px 0px;
        width: 400px;
        

    
        @media only screen and (min-width: 991px) {
            flex-direction: row;
            justify-content: space-between;
            width: auto;
        }


        &__card{
            display: flex;
            flex-direction: column;
            background-color: $bg-gray-transparent;
            border-radius: 20px;
            padding: 20px;
            overflow: hidden;
            &:hover{
                background-color: $primary-color;
            }

            &__fig{
                display: flex;

                &__img{
                    width: 70px;
                    border-radius: 15px;
                }
                &__info{
                    margin: 5px 10px;
                    &__p{
                        font-size: 14px;
                        color: $standard-black;
                    }
                }
            }

            &__p{
                padding: 5px 0px;
                color: $standard-black;
            }
        }
    }
}