$title-size: (
    "small": 24px,
    "medium": 36px,
    "large": 48px
);
$title-font-weight: (
    "large": 800px, 
    "small":700px);
$all-font-family: Montserrat;

$paragraph-size: (
    "small": 14px,
    "medium": 20px,
    "large": 24px
);

$primary-color: #17C2EC;
$bg-semi-transparent: #C4C4C41A;
$title-bg-color: #0B153C;