* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 20px 30px 10px;
  box-sizing: border-box;
  background-color: #0B153C;
  align-items: center;
}
@media only screen and (min-width: 767px) {
  .container {
    padding: 20px 70px 10px;
  }
}

h1 {
  font-size: 24px;
  color: #fff;
  padding: 20px 0px;
}
@media only screen and (min-width: 767px) {
  h1 {
    font-size: 36px;
  }
}
@media only screen and (min-width: 991px) {
  h1 {
    font-size: 48px;
  }
}

p {
  font-size: 14px;
  color: #17C2EC;
}
@media only screen and (min-width: 767px) {
  p {
    font-size: 20px;
  }
}
@media only screen and (min-width: 991px) {
  p {
    font-size: 24px;
  }
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5019607843);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
a:hover {
  color: #fff;
}

li {
  list-style-type: none;
}

button {
  padding: 20px 25px;
}

.header {
  background: #0B153C;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  display: none;
}
@media only screen and (min-width: 767px) {
  .header__nav {
    display: none;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 991px) {
  .header__nav {
    display: flex;
    justify-content: space-between;
  }
}
.header__nav__links {
  display: flex;
  gap: 25px;
}
.header__btn {
  background-color: rgba(196, 196, 196, 0.1019607843);
  color: #17C2EC;
  border-radius: 20px;
  font-weight: 700;
  border: none;
  font-size: 18px;
  display: none;
}
@media only screen and (min-width: 991px) {
  .header__btn {
    display: flex;
  }
}
.header__hr {
  width: 55%;
  border: 2px solid #17C2EC;
}
@media only screen and (min-width: 991px) {
  .header__menu {
    display: none;
  }
}

.banner {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 0px;
  gap: 50px;
}
@media only screen and (min-width: 991px) {
  .banner {
    flex-direction: row;
  }
}
.banner__aside1 {
  max-width: 100%;
}
@media only screen and (min-width: 991px) {
  .banner__aside1 {
    max-width: 50%;
  }
}
.banner__aside1__p1 {
  color: #17C2EC;
}
.banner__aside1__p2 {
  color: rgba(255, 255, 255, 0.6980392157);
  padding: 20px 0px;
}
.banner__aside1__btn1 {
  background-color: #17C2EC;
  border-radius: 20px;
  border: none;
  color: rgba(255, 255, 255, 0.6980392157);
  font-size: 14px;
}
@media only screen and (min-width: 767px) {
  .banner__aside1__btn1 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 991px) {
  .banner__aside1__btn1 {
    font-size: 24px;
  }
}
.banner__aside1__btn2 {
  background-color: rgba(196, 196, 196, 0.1019607843);
  margin-left: 5%;
  border-radius: 20px;
  border: none;
  color: rgba(255, 255, 255, 0.6980392157);
  font-size: 14px;
}
@media only screen and (min-width: 767px) {
  .banner__aside1__btn2 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 991px) {
  .banner__aside1__btn2 {
    font-size: 24px;
  }
}
.banner__aside2 {
  display: flex;
  flex-direction: column;
}
.banner__aside2__fig {
  display: flex;
  margin: 0px 20px;
  height: 274px;
  border-radius: 43px;
  background-color: #17C2EC;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  justify-content: center;
  min-width: 256px;
  position: relative;
}
@media only screen and (min-width: 767px) {
  .banner__aside2__fig {
    height: auto;
    margin: 0px 5px;
    padding: 0 15px;
  }
}
.banner__aside2__fig__main1 {
  width: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner__aside2__fig__img1 {
  width: 40px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 50%;
  left: -10px;
}
@media only screen and (min-width: 767px) {
  .banner__aside2__fig__img1 {
    width: 80px;
    height: 64px;
  }
}
@media only screen and (min-width: 767px) {
  .banner__aside2__fig__img1 {
    top: 50%;
    left: -30px;
  }
}
.banner__aside2__fig__img2 {
  width: 40px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  right: -20px;
  top: 50%;
}
@media only screen and (min-width: 767px) {
  .banner__aside2__fig__img2 {
    width: 80px;
    height: 64px;
  }
}
@media only screen and (min-width: 767px) {
  .banner__aside2__fig__img2 {
    top: 50%;
    right: -40px;
  }
}
.banner__aside2__div {
  display: flex;
  width: 239px;
  padding: 10px;
  background-color: rgba(196, 196, 196, 0.2);
  position: relative;
  bottom: 40px;
  left: -10px;
  border-radius: 10px;
}
@media only screen and (min-width: 767px) {
  .banner__aside2__div {
    width: 374px;
    left: -30px;
  }
}
.banner__aside2__div__img {
  width: 38px;
  height: 38px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (min-width: 767px) {
  .banner__aside2__div__img {
    width: 60px;
    height: 60px;
  }
}

.info {
  margin-left: 20px;
}
.info__p {
  color: rgba(255, 255, 255, 0.6980392157);
}/*# sourceMappingURL=main.css.map */