* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 20px 30px 10px;
  box-sizing: border-box;
  align-items: center;
  background-image: url(../../../assets/image/bg-banner-1.jpg);
}
@media only screen and (min-width: 767px) {
  .container {
    padding: 20px 70px 10px;
  }
}

.container2 {
  width: 100%;
  padding: 20px 30px 10px;
  box-sizing: border-box;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5019607843);
}
@media only screen and (min-width: 767px) {
  .container2 {
    padding: 20px 70px 10px;
  }
}

h1 {
  font-size: 24px;
  color: #fff;
  padding: 20px 0px;
}
@media only screen and (min-width: 767px) {
  h1 {
    font-size: 36px;
  }
}
@media only screen and (min-width: 991px) {
  h1 {
    font-size: 48px;
  }
}

p {
  font-size: 14px;
  color: #17C2EC;
}
@media only screen and (min-width: 767px) {
  p {
    font-size: 20px;
  }
}
@media only screen and (min-width: 991px) {
  p {
    font-size: 24px;
  }
}

input {
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 15px;
}
@media only screen and (min-width: 767px) {
  input {
    font-size: 20px;
  }
}
@media only screen and (min-width: 991px) {
  input {
    font-size: 24px;
  }
}

button {
  padding: 15px 20px;
  border-radius: 20px;
  font-size: 14px;
}
@media only screen and (min-width: 767px) {
  button {
    font-size: 20px;
  }
}
@media only screen and (min-width: 991px) {
  button {
    font-size: 24px;
  }
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6980392157);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
a:hover {
  color: #fff;
}

li {
  list-style-type: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  display: none;
}
@media only screen and (min-width: 767px) {
  .header__nav {
    display: none;
  }
}
@media only screen and (min-width: 991px) {
  .header__nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}
.header__nav__links {
  display: flex;
  gap: 25px;
}
.header__btn {
  background-color: rgba(196, 196, 196, 0.1019607843);
  color: #17C2EC;
  border-radius: 20px;
  font-weight: 700;
  border: none;
  font-size: 18px;
  display: none;
}
@media only screen and (min-width: 991px) {
  .header__btn {
    display: flex;
  }
}
.header__hr {
  width: 55%;
  border: 2px solid #17C2EC;
}
@media only screen and (min-width: 991px) {
  .header__menu {
    display: none;
  }
}

.banner {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 0px;
  gap: 50px;
}
@media only screen and (min-width: 991px) {
  .banner {
    flex-direction: row;
  }
}
.banner__aside1 {
  max-width: 100%;
}
@media only screen and (min-width: 991px) {
  .banner__aside1 {
    max-width: 50%;
  }
}
.banner__aside1__p1 {
  color: #17C2EC;
}
.banner__aside1__p2 {
  color: rgba(255, 255, 255, 0.6980392157);
  padding: 20px 0px;
}
.banner__aside1__btn1 {
  background-color: #17C2EC;
  border-radius: 20px;
  border: none;
  color: rgba(255, 255, 255, 0.6980392157);
  font-size: 14px;
}
@media only screen and (min-width: 767px) {
  .banner__aside1__btn1 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 991px) {
  .banner__aside1__btn1 {
    font-size: 24px;
  }
}
.banner__aside1__btn2 {
  background-color: rgba(196, 196, 196, 0.1019607843);
  margin-left: 5%;
  border-radius: 20px;
  border: none;
  color: rgba(255, 255, 255, 0.6980392157);
  font-size: 14px;
}
@media only screen and (min-width: 767px) {
  .banner__aside1__btn2 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 991px) {
  .banner__aside1__btn2 {
    font-size: 24px;
  }
}
.banner__aside2 {
  display: flex;
  flex-direction: column;
}
.banner__aside2__fig {
  display: flex;
  margin: 0px 20px;
  height: 274px;
  border-radius: 43px;
  background-color: #17C2EC;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  justify-content: center;
  min-width: 256px;
  position: relative;
}
@media only screen and (min-width: 767px) {
  .banner__aside2__fig {
    height: 532px;
    margin: 0px 5px;
    padding: 0 15px;
  }
}
.banner__aside2__fig__main1 {
  width: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner__aside2__fig__img1 {
  width: 40px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: -10px;
}
@media only screen and (min-width: 767px) {
  .banner__aside2__fig__img1 {
    width: 80px;
    height: 64px;
  }
}
@media only screen and (min-width: 767px) {
  .banner__aside2__fig__img1 {
    top: 50%;
    left: -30px;
  }
}
.banner__aside2__fig__img2 {
  width: 40px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  right: -20px;
  top: 50%;
}
@media only screen and (min-width: 767px) {
  .banner__aside2__fig__img2 {
    width: 80px;
    height: 64px;
  }
}
@media only screen and (min-width: 767px) {
  .banner__aside2__fig__img2 {
    top: 50%;
    right: -40px;
  }
}
.banner__aside2__div {
  display: flex;
  width: 239px;
  padding: 10px;
  background-color: rgba(196, 196, 196, 0.2);
  position: relative;
  bottom: 40px;
  left: -10px;
  border-radius: 10px;
}
@media only screen and (min-width: 767px) {
  .banner__aside2__div {
    width: 374px;
    left: -30px;
  }
}
.banner__aside2__div__img {
  width: 38px;
  height: 38px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (min-width: 767px) {
  .banner__aside2__div__img {
    width: 60px;
    height: 60px;
  }
}
.banner__div {
  display: flex;
  flex-direction: column;
}

.info {
  margin-left: 20px;
}
.info__p {
  color: #fff;
}

.section1__schedule {
  display: flex;
  align-items: center;
  gap: 10px;
}
.section1__div {
  display: flex;
  text-align: left;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(196, 196, 196, 0.0509803922);
  padding: 20px 0px;
  margin: 10px 0px 0px 0px;
  border-radius: 20px 20px 0px 0px;
}
@media only screen and (min-width: 767px) {
  .section1__div {
    flex-direction: row;
    justify-content: space-around;
  }
}
.section1__div__book {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0px 10px;
}
.section1__div__book__fig {
  background-color: rgba(196, 196, 196, 0.1019607843);
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}
.section1__div__btn {
  width: 150px;
  font-size: 14px;
  background-color: #17C2EC;
  border: none;
  margin: 10px;
  border-radius: 10px;
  color: #fff;
}
.section1__div__info {
  margin-left: 50px;
}

.section2 {
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.5019607843);
  width: 100%;
  padding: 20px 10px;
}
.section2__icon {
  width: 72px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (min-width: 767px) {
  .section2__icon {
    width: 148px;
    max-height: 36px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media only screen and (min-width: 991px) {
  .section2__icon {
    width: 288px;
    -o-object-fit: cover;
       object-fit: cover;
    max-height: 66px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(196, 196, 196, 0.1019607843);
  margin: 62px auto;
  padding: 0px 0px 20px 0px;
  gap: 35px;
  border-radius: 20px;
  overflow: hidden;
}
.form__topic {
  background-color: rgba(196, 196, 196, 0.1019607843);
  padding: 5px;
  width: 100%;
  text-align: center;
  color: #fff;
}
.form__info {
  background-color: rgba(196, 196, 196, 0.1019607843);
  padding: 5px 10px;
  border-radius: 20px;
  text-align: center;
}
.form__check {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 80%;
}
@media only screen and (min-width: 767px) {
  .form__check {
    width: 70%;
  }
}
@media only screen and (min-width: 991px) {
  .form__check {
    flex-direction: row;
  }
}
.form__check__btn {
  background-color: rgba(196, 196, 196, 0.1019607843);
  border: none;
  color: #17C2EC;
}

.section3 {
  width: 100%;
}
.section3__div {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 991px) {
  .section3__div {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 991px) {
  .section3__div__title {
    width: 50%;
  }
}
.section3__div__p {
  color: rgba(255, 255, 255, 0.6980392157);
  font-size: 14px;
}
@media only screen and (min-width: 767px) {
  .section3__div__p {
    font-size: 19px;
  }
}
@media only screen and (min-width: 991px) {
  .section3__div__p {
    padding: 20px 0px 0px 20%;
  }
}
.section3__cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0px;
}
@media only screen and (min-width: 991px) {
  .section3__cards {
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
  }
}
.section3__cards__main {
  padding: 20px;
  background: rgba(196, 196, 196, 0.1019607843);
  border-radius: 49.896px 149.688px 49.896px 49.896px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 276;
}
@media only screen and (min-width: 767px) {
  .section3__cards__main {
    min-width: 448px;
    max-width: 498px;
  }
}
@media only screen and (min-width: 991px) {
  .section3__cards__main {
    width: 450px;
    height: 498px;
    gap: 20px;
  }
}
.section3__cards__main__fig {
  background-color: rgba(196, 196, 196, 0.1019607843);
  padding: 20px;
  border-radius: 20px;
  align-items: start;
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 991px) {
  .section3__cards__main__fig {
    width: 100px;
  }
}
.section3__cards__main__fig__img {
  width: 70px;
  height: 70px;
}
.section3__cards__main__link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section3__cards__div {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}
@media only screen and (min-width: 767px) {
  .section3__cards__div {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 991px) {
  .section3__cards__div {
    justify-content: space-between;
    align-items: end;
  }
}
.section3__cards__div__card2 {
  padding: 20px;
  border: 2px solid;
  border-color: rgba(255, 255, 255, 0.6980392157);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 767px) {
  .section3__cards__div__card2 {
    width: 295px;
  }
}
@media only screen and (min-width: 991px) {
  .section3__cards__div__card2 {
    width: 349px;
  }
}
.section3__cards__div__card2__img {
  padding: 20px solid;
  background-color: rgba(196, 196, 196, 0.1019607843);
}

.section4 {
  display: flex;
  padding: 20px 0px;
  flex-direction: column;
}
@media only screen and (min-width: 991px) {
  .section4 {
    position: relative;
  }
}
@media only screen and (min-width: 991px) {
  .section4__div1 {
    width: 50%;
  }
}
.section4__div1__title {
  color: black;
}
.section4__div2 {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
@media only screen and (min-width: 767px) {
  .section4__div2 {
    justify-content: start;
  }
}
@media only screen and (min-width: 991px) {
  .section4__div2 {
    position: absolute;
    right: 10px;
  }
}
.section4__div2__fig {
  position: relative;
  overflow: visible;
  background-color: #0B153C;
  border-radius: 20px;
}
.section4__div2__fig__img {
  width: 100%;
  max-height: 480px;
  border-radius: 20px;
}
.section4__div2__fig__small-img {
  width: 100px;
  border-radius: 20px;
  position: absolute;
  left: -50px;
  top: -20px;
}
.section4__form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
@media only screen and (min-width: 991px) {
  .section4__form {
    width: 50%;
  }
}
.section4__form__p {
  color: black;
}
.section4__form__input {
  background-color: rgba(196, 196, 196, 0.1019607843);
}
.section4__form__btn {
  background-color: #17C2EC;
  border: none;
}
.section4__form__label {
  font-size: 24px;
}
.section4__form__div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media only screen and (min-width: 767px) {
  .section4__form__div {
    flex-direction: row;
  }
}
.section4__form__div__input {
  width: 100%;
  background-color: rgba(196, 196, 196, 0.1019607843);
}
.section4__form__div__btn {
  background-color: #17C2EC;
  border: none;
}
.section4__status {
  display: flex;
  gap: 10px;
}
.section4__status__a {
  font-size: 20px;
}
.section4__status__p {
  color: black;
}

.section5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.section5__div__fig {
  position: relative;
}
.section5__div__fig__main-img {
  margin: 0px auto;
  width: 100%;
}
.section5__div__fig__div1 {
  display: flex;
  align-items: center;
  text-align: left;
  background-color: rgba(196, 196, 196, 0.2);
  display: flex;
  border-radius: 10px;
  position: absolute;
  color: #17C2EC;
  font-size: 8px;
  top: 35%;
  left: 15%;
}
@media only screen and (min-width: 767px) {
  .section5__div__fig__div1 {
    font-size: 18px;
  }
}
@media only screen and (min-width: 991px) {
  .section5__div__fig__div1 {
    font-size: 20px;
  }
}
.section5__div__fig__div2 {
  display: flex;
  align-items: center;
  text-align: left;
  background-color: rgba(196, 196, 196, 0.2);
  display: flex;
  border-radius: 10px;
  position: absolute;
  color: #17C2EC;
  font-size: 8px;
  top: 55%;
  left: 10%;
}
@media only screen and (min-width: 767px) {
  .section5__div__fig__div2 {
    font-size: 18px;
  }
}
@media only screen and (min-width: 991px) {
  .section5__div__fig__div2 {
    font-size: 20px;
  }
}
.section5__div__fig__div3 {
  display: flex;
  align-items: center;
  text-align: left;
  background-color: rgba(196, 196, 196, 0.2);
  display: flex;
  border-radius: 10px;
  position: absolute;
  color: #17C2EC;
  font-size: 8px;
  top: 75%;
  left: 5%;
}
@media only screen and (min-width: 767px) {
  .section5__div__fig__div3 {
    font-size: 18px;
  }
}
@media only screen and (min-width: 991px) {
  .section5__div__fig__div3 {
    font-size: 20px;
  }
}
.section5__div__fig__div4 {
  display: flex;
  align-items: center;
  text-align: left;
  background-color: rgba(196, 196, 196, 0.2);
  display: flex;
  border-radius: 10px;
  position: absolute;
  color: #17C2EC;
  font-size: 8px;
  top: 35%;
  right: 15%;
}
@media only screen and (min-width: 767px) {
  .section5__div__fig__div4 {
    font-size: 18px;
  }
}
@media only screen and (min-width: 991px) {
  .section5__div__fig__div4 {
    font-size: 20px;
  }
}
.section5__div__fig__div5 {
  display: flex;
  align-items: center;
  text-align: left;
  background-color: rgba(196, 196, 196, 0.2);
  display: flex;
  border-radius: 10px;
  position: absolute;
  color: #17C2EC;
  font-size: 8px;
  top: 55%;
  right: 10%;
}
@media only screen and (min-width: 767px) {
  .section5__div__fig__div5 {
    font-size: 18px;
  }
}
@media only screen and (min-width: 991px) {
  .section5__div__fig__div5 {
    font-size: 20px;
  }
}
.section5__div__fig__div6 {
  display: flex;
  align-items: center;
  text-align: left;
  background-color: rgba(196, 196, 196, 0.2);
  display: flex;
  border-radius: 10px;
  position: absolute;
  color: #17C2EC;
  font-size: 8px;
  top: 75%;
  right: 5%;
}
@media only screen and (min-width: 767px) {
  .section5__div__fig__div6 {
    font-size: 18px;
  }
}
@media only screen and (min-width: 991px) {
  .section5__div__fig__div6 {
    font-size: 20px;
  }
}
.section5__img {
  width: 30px;
}
@media only screen and (min-width: 767px) {
  .section5__img {
    width: 60px;
  }
}
@media only screen and (min-width: 991px) {
  .section5__img {
    width: 100px;
  }
}

.section6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 250px;
}
.section6__div1__h {
  color: black;
}
.section6__div1__p {
  color: black;
}
.section6__div2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 30px;
  padding: 20px 0px;
  width: 400px;
}
@media only screen and (min-width: 991px) {
  .section6__div2 {
    flex-direction: row;
    justify-content: space-between;
    width: auto;
  }
}
.section6__div2__card {
  display: flex;
  flex-direction: column;
  background-color: rgba(196, 196, 196, 0.5019607843);
  border-radius: 20px;
  padding: 20px;
  overflow: hidden;
}
.section6__div2__card:hover {
  background-color: #17C2EC;
}
.section6__div2__card__fig {
  display: flex;
}
.section6__div2__card__fig__img {
  width: 70px;
  border-radius: 15px;
}
.section6__div2__card__fig__info {
  margin: 5px 10px;
}
.section6__div2__card__fig__info__p {
  font-size: 14px;
  color: black;
}
.section6__div2__card__p {
  padding: 5px 0px;
  color: black;
}

.form2 {
  background-color: rgba(196, 196, 196, 0.2);
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin: 0px auto;
  border-radius: 20px;
  position: absolute;
  width: 80%;
  right: 15%;
  top: -350px;
}
.form2__div {
  background-color: #17C2EC;
  padding: 10px 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}
.form2__div__h1 {
  padding: 0px;
}
.form2__div__p {
  color: #fff;
}
.form2__div__div__btn {
  background-color: black;
  border-radius: 0px 20px 20px 0px;
  border: none;
}
.form2__div__div__btn__img {
  width: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  position: relative;
  margin-top: 200px;
}
@media only screen and (min-width: 991px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.footer__nav {
  display: flex;
  justify-content: space-between;
}
.footer__nav__links {
  display: flex;
  gap: 25px;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (min-width: 767px) {
  .footer__nav__links {
    flex-direction: row;
  }
}
.footer__hr {
  width: 55%;
  border: 2px solid #17C2EC;
}
.footer__fig {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer__fig__icon {
  width: 17px;
}
@media only screen and (min-width: 767px) {
  .footer__fig__icon {
    width: 31px;
  }
}
@media only screen and (min-width: 991px) {
  .footer__fig__icon {
    width: 50px;
  }
}/*# sourceMappingURL=main.css.map */